[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
roboflow = "*"
matplotlib = "*"
flask = "*"
torchvision = "*"
scikit-learn = "*"
pandas = "*"
cleanvision = "*"
gunicord = {extras = ["eventlet"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"
